/*WHOLE DOC*/
  /**Overwriting Bootstrap------------*/
  .tooltip-inner {

  }
  /**------------*/

  /*help-swal-markers-----------------*/
  .help-traininginstitute::after {
      font-family: FontAwesome;
      content: '\f059';
      font-size:1.5em;
      color: #FB9200;
  }
  .help-mentorship::after {
      font-family: FontAwesome;
      content: '\f059';
      font-size:1.5em;
      color: #FB9200;
  }
  #iscompanyverified::after{
      font-family: FontAwesome;
      content: '\f00c';
      font-size:1em;
      color: rgba(19,153,72,.6);
      cursor: pointer;
  }
  #isdeadlineapproaching::after{
      font-family: FontAwesome;
      content: '\f017';
      font-size:1em;
      color: rgba(214,36,34,.6);
      cursor: pointer;
      margin-left:.2em;
  }
  #internshipishot::after{
      font-family: FontAwesome;
      content: '\f06d';
      font-size:1em;
      color: rgba(249,145,87,.6);
      cursor: pointer;
  }
  #iscompanyverifieddesc::after{
      font-family: FontAwesome;
      content: '\f046';
      font-size:1.2em;
      margin-left:.5em;
      color: rgba(19,153,72,1);
      cursor: pointer;
  }
  /*-- --*/
/**/

/*HeaderSpecific-------------*/
.nav-item{
  padding-left:20px!important;
}
nav{
  box-shadow:0px 5px 15px #888888!important;
}
.active{
  background-color: #eeeeff;
}
nav ul li{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 30px;
}
.navbar-brand img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  max-height: 70px;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.shrink {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.shrink ul li{
  padding:0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.shrink .navbar-brand img {
  max-height: 45px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar{
  /*font-family: 'Montserrat',sans-serif;*/
}
a.nav-link,a.dropdown-item{

}
a.dropdown-item.active{

}
.dropdown-item:active{

}
.grid-header{
    line-height: 1.2em;
    margin-bottom:5px;
}
.grid-header p{
    margin:5px 0 5px 0;/*set header size*/
    z-index:1;
}
#headertargetpadding{
   /*background: #f1f1f1;*/
   line-height: .2em;
   z-index: 0;
}
  /*HEADER FA ICONS */
  li.nav-item a#homelink::before{
      font-family: FontAwesome;
      content: '\f015';
      margin-right:.4em;
  }
  li.nav-item.dropdown a#navbarDropdownMenuLink::before{
      font-family: FontAwesome;
      content: '\f02d';
      margin-right:.4em;
  }
  li.nav-item#services a::before{
      font-family: FontAwesome;
      content: '\f005';
      margin-right:.4em;
  }
  li.nav-item#postaninternship a::before{
      font-family: FontAwesome;
      content: '\f022';
      margin-right:.4em;
  }
  li.nav-item#contact a::before{
      font-family: FontAwesome;
      content: '\f098';
      margin-right:.4em;
  }
  div.dropdown-menu a#it::before{
      font-family: FontAwesome;
      content: '\f108';
      margin-right:.4em;
  }
  div.dropdown-menu a#socialwork::before{
      font-family: FontAwesome;
      content: '\f2b5';
      margin-right:.4em;
  }
  div.dropdown-menu a#hotel::before{
      font-family: FontAwesome;
      content: '\f0fd';
      margin-right:.4em;
  }
  div.dropdown-menu a#administration::before{
      font-family: FontAwesome;
      content: '\f19c';
      margin-right:.4em;
  }
  div.dropdown-menu a#other::before{
      font-family: FontAwesome;
      content: '\f25b';
      margin-right:.4em;
  }
  div.dropdown-menu a#traininginstitute::before{
      font-family: FontAwesome;
      content: '\f0f7';
      margin-right:.4em;
  }

  /*ContactModalSpecific-------*/
  .bigicon {
      font-size: 35px;
  }
  .button-xlarge {
      font-size: 1.4em;
  }
  .buttonColors{
      vertical-align: middle;
      margin:-20px -16px -19px 0px;
  }
  .buttonColors:hover{
      opacity:.9;
  }
  button.close{
      font-size: 3em;
      text-align: center;
      width: 1.2em;
      line-height: 1.2em;/*1.4em*/;
      margin: -10px 0px 2px 0px;/*-20px -15px -19px 0px*/;
  }
  .modal-header{height:100px;}
  .modal-header #contactModalLabel{
      font-size: 2.5em;/*override pure css*/
  }
  .modal-dialog .modal-header{
      height: 50px;
  }
  /*---------------------------*/
/*---------------------------*/


/*SidebarSpecific-----------*/
    .grid-sidebar-padding-right {
        padding: 0em 0em 0em 0em;/*hot intern sidebar no padding*/
    }
    .grid-sidebar-padding-left{
        padding: 0em 0em 0em .5em;
    }
    #deadlinetitle::after{
      font-family: FontAwesome;
      content: '\f073';
      margin-left:.4em;
    }
    /*#ContentSection{
        width:100%;
    }
    #CoreSection{
        width:calc(100%-600px) !;
    }
    #SidebarRight,#SidebarLeft{
        width:210px;
    }
    #SidebarRight{
        float:right;
    }
    #SidebarLeft{
        float:left;
    }*/
    
/*--------------------------*/

/* Hot Intern Table Specific */

/**-- CSS flame --*/
body {
  background-color: rgba(0,0,0,0);
}
body .fire {
  position: relative;
  top: 50%;
  margin:0;
  left:1em;
  /*left: 50%;*/
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  height: 1.5vw;
  width: 1.5vw;
}
body .fire .flames {
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 60%;
  height: 60%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
body .fire .flames .flame {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 0%;
  background-color: #FFDC01;
  border-radius: 5vw;
}
body .fire .flames .flame:nth-child(2n + 1) {
  -webkit-animation: flameodd 1.5s ease-in infinite;
          animation: flameodd 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(2n) {
  -webkit-animation: flameeven 1.5s ease-in infinite;
          animation: flameeven 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
body .fire .flames .flame:nth-child(2) {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}
body .fire .flames .flame:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
body .fire .flames .flame:nth-child(4) {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}
body .fire .logs {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 15%;
}
body .fire .logs:before, body .fire .logs:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
          transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  background-color: #70392F;
}
body .fire .logs:before {
  -webkit-transform: translate(-50%, -50%) rotate(-20deg);
          transform: translate(-50%, -50%) rotate(-20deg);
  background-color: #612E25;
}

@-webkit-keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}
@-webkit-keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}
@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}

/*-- --*/
div.hotinterns div{
  margin: 0 auto;
}
    .hotinterns a{
      text-decoration: none;
    }
/*    .hotinterns .pure-g.descriptionheader{
        background-color: #5A297D;  
    }*/
    .hotinterns .pure-g.descriptionheader [class*=pure-u]{
        text-align: left!important;
        line-height: 1.5em;
    }
    .hotinterns .pure-g.descriptionheader [class*=pure-u] span{/*Hot Intern Header Text*/
        padding:0 0 0 0.5em;
        font-size: 1.2em;
    }
    .hotinterns .pure-g [class*=pure-u] img{/*Hot Intern Header Text*/
        height:100%;
        padding:.1em;
    }
    .hotinterns .pure-g:nth-child(n+1){
        border:1px solid rgba(90,41,125,.1);
        padding:0px 5px 0px 5px;
        /*font-size: calc(.75em + .4vw);*/
        font-size: .75em;
    }
    .hotinterns.pure-g [class*=pure-u]:nth-child(n+1){
        word-wrap: break-word;
        text-align: left;
        line-height: 2em;
        font-size: calc(.55em + .4vw);
    }
    .hotinterns .worktag::before{
        content:'\f0b1';
        font-family: fontawesome;
    }
    
/*-- MASK --*/
/*  .pure-g [class*=pure-u]:nth-child(n+1){
        color:#fff;
    }
    .pure-g [class*=pure-u]:first-child {
        background-color: #f10000;
    }
    .pure-g [class*=pure-u]:nth-child(2){
        background-color: #00f100;
    }
    .pure-g [class*=pure-u]:nth-child(3){
        background-color: #0000f1;
    }
    .pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(1n+1){
        background-color:#000;
    }
    .pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2){
        background-color:#fff;
        color:#000;
    }*/
/*-- --*/

/*-- -- */

/*CoreSectionSpecific-------*/
.ti_grid{
    text-align: center !important;
}
.ti_grid a{
    padding:10px !important;
     text-decoration:none;
}
.ti_grid a::before,.ti_grid a::after{
    content:' \f006 ';
    font-family: fontawesome;
}
.grid-core{
    word-wrap: break-word; /*handling super-long names from database automatically*/
}
hr.itemseperator{
    margin: 0px 0 0px 0;
}
.grid-label {
    font-size: .5em;/*-- label font --*/
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}

.mainItem {
    width:100%;
} 
.grid-header,
.grid-item,
.sideDescriptor,
.mainItem {
    margin:0px;
    padding: 0px;/*Changes to cell padding*/
    text-align: left;
    /*font-size: 0.7em;*/
    font-size: calc(0.4em + .5vw);/*-- MainItem font size --*/
    padding-left: 5px;
}
.grid-header{
    padding-left:10px;
}
.labelBackdropDesktop{
    padding: 0px 5px 0px 0px;
    border-radius: 0px 30px 0px 0px;
    width:60px;
    /*shadow:3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; */
    text-align: center;
    /*z-index:-1;*/
}
.labelBackdrop {
    /*width: 100%;*/
    padding: 0px;
    /*margin-left: 0px;*/
    -webkit-border-radius: 18px 18px 0 0;
    -moz-border-radius: 18px 18px 0 0;
    border-radius: 30px 30px 0 0;
    /*-webkit-box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;
    -moz-box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;
    box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;*/
}
.labelBackdropBottom {
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    -webkit-border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 0 0;
    border-radius: 0px 0px 30px 30px;
    /*-webkit-box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;
    -moz-box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;
    box-shadow: 0 0 6px 0px #2f3a47, inset -1px -3px 6px #5a297d;*/
}
/*--------------------------*/

/*FooterSpecific-------------*/

/*.line {
    border-left: 1px solid black;
    min-height:200px;
    display: inline-block;
    box-shadow: 1px 0px 2px #888;
}*//*DEPRECIATED DUE TO INTERFERENCE WITH SWAL*/
/*Footer left specific*/
.footer-left{

}
.footer-left div{
  /*height:250px;*/
  width:250px;
    margin: 0 auto;
    margin-top:1em;

  /*line-height: 120px;*/
}
.footer-left img{
  vertical-align: middle;
}
.footer-left a{line-height: 1em;}
/**/

footer{
    box-shadow:0px -5px 15px #888888!important;
}
.footer-distributed{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5px 0 0 0;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-left a img{height:3.125em;}
.footer-distributed .footer-left{
  width: 31%;
}

/* The company logo */

.footer-distributed h3{
  color:  #000000;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

footer div.footerannotationbar {
  font-family: 'Raleway';
   font-size: .8em;
   padding: .2em 0 0em 0;
}
footer div.footerannotationbar [class*=pure-u] .pure-g div{padding: 0em 0 1em 0;}
footer div.footerannotationbar div.links,
footer div.footerannotationbar div.links a,
footer div.footerannotationbar div.copyright{
 font-family: 'Raleway';
 text-align: center;
}
footer div.footerannotationbar div.links a{
  text-decoration: none;
}
footer div.footerannotationbar div.copyright{
  
}

/*INTERN DESCRIPTION*/
  .interndescription .pure-g.descriptionheader{ 
  }
  .pure-g.descriptionheader.deadline{
  }
  .pure-g.descriptionheader [class*=pure-u]{
    text-align: left!important;
    line-height: 1.5em;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+2).descriptionheader{
  }
  .interndescription .pure-g:nth-child(n+1){
    padding:5px;
    font-size: .75em;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1){
    word-wrap: break-word;
    text-align: left;
    line-height: 2em;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+1){
    text-align: right;
    padding-right:5px;
  }
  .solodescription{
    text-align: left!important;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2), .solodescription{
    /*border-bottom:1px dashed #000;*/
    text-decoration-skip: ink;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2):hover, .solodescription:hover{
    /*border-bottom:1px dashed #000;*/
    text-decoration-skip: ink;
    transition: .8s;
  }
/*-- MASK --*/ /*-- toggle comment mask to troubleshoot margin directives --*/
/*  .interndescription.pure-g [class*=pure-u]:nth-child(n+1){
    color:#fff;
  }
  .interndescription.pure-g [class*=pure-u]:first-child {
    background-color: #f10000;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(2){
    background-color: #00f100;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(3){
    background-color: #0000f1;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(1n+1){
    background-color:#000;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2){
    background-color:#fff;
    color:#000;
  }*/
/*-- --*/
/**/

/* Footer Center */

.footer-distributed .footer-center{
  width: 40%;
}
.footer-company-about{

  margin: 0 auto;
  text-align: justify;
  width:250px;
}

.footer-distributed .footer-center i{
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 27%;
  /*margin-left:50px;*/
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons{
  margin-top: 5px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  border-radius: 2px;

  font-size: 20px;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-left a img{height: 7em!important;}
  .footer-distributed .footer-center{text-align:left;}
  .footer-center div{width:250px;margin:auto;}
  .footer-right div,.footer-company-about div{width:250px;margin:auto; }
  .footer-company-about span{text-align: center;}
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}


/*---------------------------*/

/*ResponsiveSection---------*/
    @media screen and (min-width: 3000px){/*For table visibility in Ultra High Definition Screens upto 8K*/
        .grid-item, .grid-header{font-size: calc(.9em + .9vw);}
    }
     @media screen and (min-width: 1280px){/*For table visibility in Full High Definition Screens*/
        .grid-item, .grid-header{font-size: calc(.4em + .8vw);}
        .grid-label{font-size: calc(.4em + .6vw); width:calc(8em + .4vw);}
    }
    @media screen and (min-width: 1024px) {/*Responsive handling of high definition screens*/
    
    .grid-sidebar{
        /*background: #F1F1F1;*/
        /*width:210px!important;*/
        width:16.666%!important;/*preserving ads-size*/
    }
    .grid-core{
        /*width: calc(100% - 420px)!important;*/
        width:66.667%!important;/*preserving ads-size*/
    }
    .show_1024below,.hide_568above{
        display:none;
    }
    }
    @media screen and (max-width: 1024px) {
    .hide_1024below,.hide_568above {
        display: none;
    }
    .show_1024below{
        display:initial;
    }
    .grid-sidebar{
        /*background: #F1F1F1;*/
        /*width:210px!important;*/
        width:16.666%!important;/*preserving ads-size*/
    }
    .grid-core{
        /*width: calc(100% - 420px)!important;*/
        width:calc(100% - 16.666%)!important;/*preserving ads-size*/
    }
    }
    @media screen and (min-width:768px){   
    .hide_768above,.hide_568above{
        display: none;
    }
    }
    @media screen and (width:768px){
        .show_768exceptions{
            display:initial;
        }
        .width100_768exception{
            width:100%;
        }
        .width80_768exception{
            width:80%;
        }
        .width20_768exception{
            width:20%;
        }
        .width33_768exception{
            width:33.33%;
        }

    }
    @media screen and (max-width: 768px) {
    .hide_768below{
        display: none;
    }
    .width75_768below{
            width:75%;
    }
    .width25_768below{
        width:25%;
    }
    .width33_768below{
            width:33.33%;
        }
    .grid-core{
        width:100%!important;
    }
    }
    @media screen and (max-width: 568px) {
    .hotinterns .pure-g.descriptionheader [class*=pure-u] span{/*Hot Intern Header Text*/
        padding:0 0 0 0em;
        font-size: 2.5em;
        line-height: 2.5em;
    }
    body .fire {
      /*left: 50%;*/
      -webkit-transform: translate(-50%, -25%);
              transform: translate(-50%, -25%);
      height: 3.5em;
      width: 3.5em;
      top:3em;
    }
    body .fire .flames .flame {
      border-radius: .3vw;
    }
    .hotinterns.pure-g [class*=pure-u]:nth-child(n+1) .hotinternshipsideshow [class*=pure-u]:nth-child(n+1){
        line-height: auto;
        font-size: calc(1em + 1vw);
    }
    .ti_grid.grid-item div{
       padding: 10px 5px 10px 5px;
       font-size: 1.5em;
    }
    .width100_568below{
            width:100%;
    }
    .hideScrambledEggs,.hide_568below {
        display: none;
    }
    .mainItem{
    }
    .sideDescriptor,
    .showBoxHead,.show_568below {
        display: initial;
    }
    .sideDescriptor{
        font-size:1em;
        /*width:33.33%;*/
        width: 90px;
    }
    .mainItem{
      width:calc(100% - 90px);
    }
    .sideDescriptor,
    .mainItem{
        padding-left:5px;
    }
    .mainItem{
    }
    hr.itemseperator{
    margin: 10px 0 10px 0;
    }
    .grid-label {
        padding: 10 0 10 0px;
        font-size: 1em;
    }
    }
    @media screen and (min-width: 568px) {
    .sideDescriptor,
    .sideDescriptor,
    .showBoxHead {
        display: none;
    }
    }
/*--------------------------*/

/*Request Form*/
.requiredfield::after{
    content: '*';
    color:rgba(210,0,0,.8);
}
.reqformouter{

}
/**/

/*Team*/
  .container-class.pure-g{
    margin: 0 auto;
  }
  .container-class.pure-g [class*=pure-u]:nth-child(n+1).profile-container{
    text-align: center;
    margin:30px 0px 30px 0;
    padding:0 30px 0 30px;
  }
/*-- MASK --*/
/*  .container-class.pure-g [class*=pure-u]:nth-child(1).profile-container{
    background-color: #f10000;  
  }
  .container-class.pure-g [class*=pure-u]:nth-child(2).profile-container{
    background-color: #00f100;  
  }
  .container-class.pure-g [class*=pure-u]:nth-child(3).profile-container{
    background-color: #0000f1;
  }
  .container-class.pure-g [class*=pure-u]:nth-child(4).profile-container{
    background-color: #f1f100;
  }*/
/*-- --*/
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u] img{
    border-radius: 50%;
    margin:0 auto;
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(2){
    font-family: 'Raleway';
    font-size:calc(1em + 1vw);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(3){
    font-family: 'Raleway';
    font-size:calc(.5em + .5vw);
    font-style: italic;
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(4) p{
    font-family: monospace;
    font-size:calc(.5em + .5vw);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(4) p::before{
    content: '\f0e0';
    font-family:fontawesome;
    margin-right:.2em;
  }
  .container-class.pure-g [class*=pure-u].container-head .pure-g [class*=pure-u].servicetitle{
    font-size: 320%;
    line-height: 100%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .container-class.pure-g [class*=pure-u].container-head .pure-g [class*=pure-u].servicesubtitle{
    font-size: 180%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 120%;
  }
/**/

/*Services*/
  .serviceswrapper.pure-g{
    padding: 0 30px 0 30px;
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(n+1){
    font-size: .75em;
    text-align: justify;
    font-family: sans-serif;
  }
  .serviceblock{
    margin-bottom: 20px;
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g [class*=pure-u].servicetitle{
    font-size: 320%;
    line-height: 100%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g [class*=pure-u].servicesubtitle{
    font-size: 180%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 120%;
  }
  .serviceswrapper.pure-g [class*=pure-u]:nth-child(n+1) .pure-g{
    border-width:1px 80%;
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g{
    width:80%; margin: 0 auto; margin-bottom:10px;
  }
/**/