/*GLOBAL*/
body{
	background-color: rgba(255,255,255,1);
}
.tooltip-inner {
  background-color: #1D2d44/*rgba(90,41,125,1)*/;
  color: #fff;
}
/*NAVBAR*/
.navbar{
	background-color: #fff;
}
a.nav-link,a.dropdown-item{
    color:#1d2d44/*#5A297D*/!important;
}
a.dropdown-item.active{
    background-color: #1d2d44/*#5A297D*/!important;
    color:#FFFFFF!important;
}
.dropdown-item:active{
    background-color:#EEEEFF!important;
    color:#000000!important;
}
  /*CONTACT MODAL*/
  div.modal-dialog div.modal-content div.modal-header,
  div.modal-footer,
  button.pure-button{
    background: #1d2d44/*#5A297D*/;
    color:#FFFFFF;
  }
  .bigicon {
      color: #1d2d44/*#5A297D*/;
  }
  .buttonColors{
      background: rgb(202, 60, 60);
      opacity: .5;
  }
  button.close{
     color:white!important;/*prevent override by bootstrap*/
     text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px  1px 0 #000,
      1px  1px 0 #000;
  }
  /**/
/**/

/*CORE*/
	/*AVAILABLE LISTING COLOR*/
  .ti_grid{
      background-color:rgba(238,238,255,.3);
  }
  .ti_grid a{
       color:rgba(29,45,68,1);
  }
  .ti_grid a::before,.ti_grid a::after{
      color:rgba(252,194,0,1);
  }
  .grid-core{
  }
  hr.itemseperator{
  }
  .grid-label {/*-- label font --*/
      color: rgba(29,45,68,1);
  }
.grid-header,
.sideDescriptor {
    background: #1D2D44/*#3E5C76*//*#5A297D*/;
    color: #fff;/*#FFF*/;
}

.grid-header,
.grid-item,
.sideDescriptor,
.mainItem {
}
.grid-header{
}
.labelBackdropDesktop{
    border: solid .1em rgba(29,45,68,1);
    background: #EEEEFF;
}
.labelBackdrop {
    border: solid 1px rgba(29,45,68,1);
}
.labelBackdropBottom {
    border: solid 1px rgba(29,45,68,1);
}
div.tilbd .labelBackdrop {
  background-color:rgba(29,45,68,1);
  color:#fff;
}
div.tilbd .labelBackdropBottom {
  background-color:rgba(29,45,68,1);
  color:#fff;
}
/**/

/*HOTINTERN*/
    .hotinterns .pure-g.descriptionheader{
        background-color: rgba(13,19,33,.8);  
    }
    .hotinterns .pure-g.descriptionheader [class*=pure-u]{
        color:#fff;
    }
    .hotinterns .pure-g.descriptionheader [class*=pure-u] span{/*Hot Intern Header Text*/

    }
    .hotinterns .pure-g [class*=pure-u] img{/*Hot Intern Header Text*/
        background-color: #eeeeff;
    }
    .hotinterns .pure-g:nth-child(n+1){
        border:1px solid rgba(29,45,68,.1);
    }
    .hotinterns.pure-g [class*=pure-u]:nth-child(n+1){

    }
    .hotinterns .worktag::before{
        color:rgba(29,45,68,.9);
    }
/**/

/*FOOTER*/
.footer-icons.a{
    background:#1D2D44;
}
.footer-distributed{
  background-color: #F7F7F7;
}
.footer-distributed .footer-center i{ /*icon-colors*/
  background-color:  #1D2D44/*#5A297D*//*#33383b*/;
  color: #ffffff;
}
.footer-distributed .footer-center p{
  color: #000000;
}
.footer-distributed .footer-center p a{
  color:  #5383d3;
}
.footer-distributed .footer-company-about{
  color:  #72777f;
}
.footer-distributed .footer-company-about span{
  color:  #111111;
}
.footer-distributed .footer-icons a{
  background-color:  #1d2d44/*5A297D*//*#33383b*/;
  color: #ffffff;
}

footer div.footerannotationbar{
  background-color:  #1d2d44;
  color:#fff;
  border-color: rgba(61,66,67,0.7);
  border-style:  solid;
  border-width: 2px 0 0 0;
}
footer div.footerannotationbar div.links{

}
footer div.footerannotationbar div.links a{
  color: #fff;
}
/**/

/*INTERN DESCRIPTION*/
  .interndescription .pure-g.descriptionheader{
    background-color: #1d2d44/*5A297D*/;  
  }
  .pure-g.descriptionheader.deadline{
    background-color: rgba(255,0,0,.7); 
  }
  .pure-g.descriptionheader [class*=pure-u]{
    color:#fff;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+2).descriptionheader{
    background-color: #f10000!important;
  }
  .interndescription .pure-g:nth-child(n+1){
    border:1px solid rgba(90,41,125,.3);
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1){
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+1){
  }
  .solodescription{
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2), .solodescription{
    /*border-bottom:1px dashed #000;*/
    text-decoration: underline solid rgba(90,41,125,.3);
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2):hover, .solodescription:hover{
    /*border-bottom:1px dashed #000;*/
    text-decoration: underline solid rgba(90,41,125,1);
  }
/*-- MASK --*/ /*-- toggle comment mask to troubleshoot margin directives --*/
/*  .interndescription.pure-g [class*=pure-u]:nth-child(n+1){
    color:#fff;
  }
  .interndescription.pure-g [class*=pure-u]:first-child {
    background-color: #f10000;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(2){
    background-color: #00f100;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(3){
    background-color: #0000f1;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(1n+1){
    background-color:#000;
  }
  .interndescription.pure-g [class*=pure-u]:nth-child(n+1) .pure-g [class*=pure-u]:nth-child(2n+2){
    background-color:#fff;
    color:#000;
  }*/
/*-- --*/
/**/

/*Team*/
  .container-class.pure-g{

  }
  .container-class.pure-g [class*=pure-u]:nth-child(n+1).profile-container{

  }
/*-- MASK --*/
/*  .container-class.pure-g [class*=pure-u]:nth-child(1).profile-container{
    background-color: #f10000;  
  }
  .container-class.pure-g [class*=pure-u]:nth-child(2).profile-container{
    background-color: #00f100;  
  }
  .container-class.pure-g [class*=pure-u]:nth-child(3).profile-container{
    background-color: #0000f1;
  }
  .container-class.pure-g [class*=pure-u]:nth-child(4).profile-container{
    background-color: #f1f100;
  }*/
/*-- --*/
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u] img{
    box-shadow: 0px 0px 1em .3em rgba(29,45,68,.5);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(2){
    color: rgba(29,45,68,1);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(3){
    color: rgba(29,45,68,.8);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(4) p{
    color: rgba(29,45,68,.9);
  }
  .container-class.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(4) p::before{
  }
  .container-class.pure-g [class*=pure-u].container-head .pure-g [class*=pure-u].servicetitle{
    color: rgba(29,45,68,1);
  }
  .container-class.pure-g [class*=pure-u].container-head .pure-g [class*=pure-u].servicesubtitle{
    color: rgba(29,45,68,.3);
  }
/**/

/*Services*/
  .serviceswrapper.pure-g{  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u]:nth-child(n+1){  }
  .serviceblock{

  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g [class*=pure-u].servicetitle{
    color: rgba(29,45,68,1);
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g [class*=pure-u].servicesubtitle{
    color: rgba(29,45,68,.4);
  }
  .serviceswrapper.pure-g [class*=pure-u]:nth-child(n+1) .pure-g{
    border-bottom: 1px solid rgba(29,45,68,.1);
  }
  .serviceswrapper.pure-g [class*=pure-u] .pure-g [class*=pure-u] .pure-g{  }
  div.serviceblock div.servicesubtitle span {
    text-decoration: underline wavy rgba(255,45,68,.2);
  }
/**/

/*@media*/
@media screen and (max-width: 568px) {
  .sideDescriptor{
      border-right:solid 1px rgba(29,45,68,1);
  }
  .mainItem{
      border-bottom: dashed 1px rgba(29,45,68,.2);
      border-right:solid 1px rgba(29,45,68,1);
  }
}
/**/